<h1>DATA SECTION<h1>

<h2>Data Requirements:</h2>


Geodata from Foursquare for all the following:

Hotels


Metro


Amenities


Trendy places


Government authorities


Cafes

(Foursquare)


San Francisco Crime Data which depicts all the total crime in the neighborhood


(https://cocl.us/sanfran_crime_dataset)


<h2>Processing:</h2>


Data processing will be done using Python 3. Foursquare API will be used to get all the required geographical information. Pandas will be used for manipulation and Folium will be used mapping.

In [1]:
import pandas as pd

In [3]:
df_sfcrime = pd.read_csv("https://cocl.us/sanfran_crime_dataset")

In [4]:
df_tmp = df_sfcrime.groupby(['PdDistrict']).count().reset_index()
df_tmp.drop(['Category','Descript','DayOfWeek','Date','Time', 'Resolution','Address','X','Y','Location','PdId'], axis=1, inplace=True)
df_tmp.rename(columns={'PdDistrict':'Neighborhood', 'IncidntNum':'Count'}, inplace=True)

In [5]:
df_tmp

  Neighborhood  Count
0      BAYVIEW  14303
1      CENTRAL  17666
2    INGLESIDE  11594
3      MISSION  19503
4     NORTHERN  20100
5         PARK   8699
6     RICHMOND   8922
7     SOUTHERN  28445
8      TARAVAL  11325
9   TENDERLOIN   9942

The above data frame shows the total crime in San Fransico neighborhood